body {
    background-color:#F0F5F9;
}
hr {
    border-style: dotted none none none;
    border-color: silver ;
    border-width: 10px;
    width: 10%;
    height: 0px;
   
}
h1 {
    color:#221e1e;
}
h3 {
    color:#221e1e;
}
a {
    color:#221e1e;
}
a:link {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}